* {
    margin: 0;
    padding: 0;

}

form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
    height: 50px;
    align-items: center;
    font-size: 20px;
}

input {
    width: 250px;
    border-radius: 16px 0px 0px 16px;
    border-right: 0;
    padding-left: 10px;
}

button {
    width: 70px;
    border-radius: 0px 16px 16px 0px;
    height: 54px;
    background-color: blueviolet;
    color: white;
    font-size: 35px;
}

ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
  }
  
  li {
    width: 450px;
    text-align: left;
  }